body {
  font-family: arial, sans-tarif;
}

h1 {
  color: #1f80cc;
}

ul {
  padding: 0px;
}

li {
  color: #1f80cc;
  font-size: 20px;
  font-weight: 900;
  line-height: 17.2px;
  list-style: none;
  margin: 20px;
}

#current-location-button {
  padding: 6px 12px;
  border: 1px solid transparent;
  margin-bottom: 0.5rem !important;
}

#current-date {
  line-height: 1.5;
}

#temperature {
  font-weight: 400;
  font-size: 80px;
  margin-right: -8px;
}

.weather-app-wrapper {
  max-width: 650px;
  margin: 15px auto 20px;
}

.weather-app {
  padding: 60px 60px 23px 60px;
  border: 1px solid #dadde1;
  border-radius: 6px;
}

.search-field {
  margin-top: 5px;
}

.weather-icon img {
  margin-right: 10px;
  width: 130px;
}

.units {
  font-size: 17px;
  position: relative;
  top: -44px;
}

.unit-separator {
  color: rgb(191, 191, 209);
}

#fahrenheit-link:visited {
  color: rgb(191, 191, 209);
}
#fahrenheit-link:hover {
  text-decoration: underline;
}

#fahrenheit-link:focus {
  color: #1f80cc;
}

#celsius-link:visited {
  color: rgb(191, 191, 209);
}

#celsius-link:hover {
  text-decoration: underline;
}

#celsius-link:focus {
  color: #1f80cc;
}

.weather-forecast {
  margin-top: 60px;
  color: #1f80cc;
  font-size: 20px;
}

img[alt="sunny and cloudy"] {
  width: 150px;
}

img[alt="sunny"] {
  width: 50px;
}

img[alt="cloudy"] {
  width: 50px;
}

.footer {
  font-size: 15px;
}

.open-source {
  text-decoration: underline;
}
